

main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}



body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;

}
.wrapper{
  width: 100%;
  height: calc(100vh - 7.5rem);
  background-color: white; 
  align-items: center
}


/* 헤더 */
#nav-body{
  display : flex;
  flex-direction : row;
  align-items: center;

 
  position : sticky ;
  top : 0px;
  width: 100%;
  height: 4rem;
  /* width: 1280px;
  height: 80px; */

  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

}

#nav-logo{
  position: absolute;
  left: 5.94%;
  right: 89.77%;
  top: 31.25%;
  bottom: 31.25%;
  /* vertical-align: middle;  */
  border: red 100px;
}
#nav-logo-icon{
  position: absolute;
  left: 5.94%;
  right: 89.77%;
  top: 31.25%;
  bottom: 31.25%;
  /* vertical-align: middle; */
}

#title{
  position: absolute;
  left: 11.17%;
  right: 70.86%;
  top: 31.48%;
  bottom: 31.48%;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 88.02%;
  /* or 28px */
  
  display: flex;
  align-items: center;
  
  color: #000000;
  


}

#nav-menu {
  position: absolute;
  width: 34px;
  height: 24px;
  left: 1170px;
  top: 28px;

  /* right: 0; */
  right: 5.94%;
  left: 89.77%;
  top: 31.25%;
  bottom: 31.25%;


} 

/* 드롭 */
#drop-wrapper{
  /* justify-content: flex-end; */

/* position: relative; */
position: absolute;

/* top:0; */
right:-50px;
width: 200px;
height: 172px;
filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
/* display: inline-block; */

vertical-align: middle;

}

#poligon{
  position: absolute;
  left: 65%;
  right: 27%;
  top: 2.33%;
  bottom: 0%;
  /* display: inline-block; */

  /* background: #FFFFFF; */
}

.drop-down{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;

  /* display: inline-block; */

  padding: 0px;
  width: 200px;
  height: 150px;
  left: 0px;
  top: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 12.33%;
  bottom: 0%;
  
  background: #FFFFFF;
  /* background: red; */
  border-radius: 12px;
}


.drop-menu {
  display: flex;
  flex-direction : row;
  width: 200px;
  height: 50px;
  /* vertical-align: middle; */

  box-sizing: border-box;
  align-items: center;
  position: relative; 
 vertical-align: middle;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.drop-bookmark{
  display: flex;
  flex-direction : row;
  width: 200px;
  height: 50px;
  /* vertical-align: middle; */

  box-sizing: border-box;
  align-items: center;
 position: relative; 
 vertical-align: middle;

}



#drop-icon{
  /* vertical-align: middle; */
  position: relative;
  width: 20px;
  height: 20px; 
  left: 24px; 
  /* top: 15px; */
  
 
}
#drop-link{

position: relative;
width: 140px;
height: 20px;
left: 32px;
/* top: 18px; */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 88.02%;
/* or 14px */

display: flex;
/* align-items: center; */

}

.drop-hello{
  position: absolute;
width: 180px;
height: 25px;
 left: 40px;  /*tmpcode*/

 /* top: 13px;  */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 88.02%;
/* or 14px */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

/* 푸터 */
footer{

  display: flex;
  position: relative;

  flex-direction: column;

  box-sizing: border-box;

  width: 100%;
  height: 3.5rem;

  background: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}


#policy{
  /* flex-basis: auto; */
  justify-content: center;
  position: absolute;
left: 44.14%;
right: 44.14%;
top: 18.97%;
bottom: 50%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 88.02%;
/* or 11px */

display: flex;
align-items: center;

color: #888888;

}

#rights{
 
  /* flex-basis: auto; */
  justify-content: center;
position: absolute;
left: 42.66%;
right: 42.73%;
top: 50%;
bottom: 18.97%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 88.02%;
/* or 11px */

display: flex;
align-items: center;

color: #888888;
}


.main-body{
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* padding: 0px; */
  gap: 24px;
  
  /* position: relative; */
  /* width: 1280px; */
  /* height: 832px;  */
  /* overflow-y: scroll; */
  
  /* background: #FFFFFF; */
  border: 1px dotted gray;


}
.main-title{
  position: absolute;
left: 42.66%;
right: 42.73%;
top: 50%;
bottom: 18.97%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
/* align-items: center; */

color: #000000;


/* Inside auto layout */

/* flex: none; */
order: 2;
flex-grow: 0;
border: 1px dotted gray;

}
.main-products{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  
  width: 1128px;
  height: 264px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px dotted gray;

}

.product-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  
  width: 1128px;
  height: 100%;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px dotted gray;

}

.filter-icon{
  width: 82px;
  height: 110px;
   
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.filter-img{
  box-sizing: border-box;
width: 82px;
height: 82px;

background: #D9D9D9;
border: 1px solid rgba(0, 0, 0, 0.1);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.filter-button-title{

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 30px;
height: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.filter-button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 36px;

position: relative;
width: 554px;
height: 110px;

}
.filter-icon{
  box-sizing: border-box;

  width: 82px;
  height: 82px;
  
  background: #D9D9D9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;

}
.filter-text{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 30px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.item-img{
  width: 300px;
  height: 300px;
}